<% @title = '予約一覧' %>

<div class="lbody">
<div class="box">
<%= render "shared/today_time_table" %>
  <p>本日の予約がハイライトされています。</p>
<table class="list">
  <tr>
    <th>ID</th>
    <th>予約ID</th>
    <th>予約者</th>
    <th>申請日</th>
    <th>予約日時</th>
    <th>開始時間</th>
    <th>終了時間</th>
    <th>部屋番号</th>
    <th>管理</th>
  </tr>
<% @bookings.each do |booking| %>
  <% if booking.day == Date.today %>
  <tr class="highlight">
  <% else %>
  <tr>
  <% end %>
    <td align="right"><%= booking.id %></td>
    <td><%= link_to booking.book_id, booking %></td>
    <% unless booking.member_id == nil %>
    <% member = Member.with_deleted.find(booking.member_id) %>
    <td>
      <%= link_to [:admin, member] do %><%= member.name %><% end %>
    </td>
    <% else %>
    <td>Guest</td>
    <% end %>
    <td><%= booking.created_at.strftime("%y-%m-%d %H:%M:%S") %></td>
    <td><%= booking.day %></td>
    <td align="right"><%= booking.from %></td>
    <td align="right"><%= booking.to %></td>
    <td align="right"><%= booking.room_id %></td>
    <% unless booking.deleted? %>
    <td><%= link_to "削除", [:admin, booking], method: :delete, confirm: "この予約を削除してもよろしいですか？" %></td>
    <% else %>
    <td>削除済み</td>
    <% end %>
  </tr>
<% end %>
</table>
</div>
</div>
