<% if @rooms.present? %>
<% @rooms.each do |room| %>
<table class="attr">
  <tr>
    <th><%= form.radio_button :id, room.id %></th>
    <td><%= room.id %></td>
  </tr>
</table>
<% end %>
<p>日時：<%= form.date_select :day,
  start_year: Time.now.year,
  end_year: Time.now.year+1,
  use_month_numbers: true %></p>
<% else %>
<p>部屋情報がありません。</p>
<% end %>
<% if @materials.present? %>
<% @materials.each do |material| %>
<table class="attr">
  <tr>
    <th><%= form.radio_button :id, material.id %></th>
    <td><%= material.name %></td>
  </tr>
</table>
<% end %>
<% else %>
<p>機材情報がありません。</p>
<% end %>
