<% if @rooms.present? %>
<h3>部屋の選択</h3>
<p>
<% @rooms.each do |room| %>
<%= form.radio_button :room_id, room.id, class: "radioButton", id: "button#{room.id}" %>
<%= room.id %>
<% end %>
</p>
<h3>日時の選択</h3>
<% options = (0..24).to_a -%>
<table class="form">
  <tr>
    <th><%= form.label :day %></th>
    <td><%= form.date_select :day, start_year: Time.now.year,
      end_year: Time.now.year+1, use_month_numbers: true, defalut: @default_date %></td>
  </tr>
  <tr>
    <th><%= form.label :from %></th>
    <td><%= form.select :from, options, selected: @default_from %></td>
  </tr>
  <tr>
    <th><%= form.label :to %></th>
    <td><%= form.select :to, options, selected: @default_to %></td>
  </tr>
  <tr>
    <th><%= form.label :mflag %></th>
    <td><%= form.check_box :mflag, checked: false %></td>
  </tr>
</table>
<% else %>
<p>予約できません。</p>
<% end %>
