<% @title = '予約一覧' %>

<div class="box">
<table class="list">
  <tr>
    <th>開始時間</th>
    <th>終了時間</th>
    <th>部屋番号</th>
  </tr>
<% @bookings.each do |booking| %>
  <tr>
    <td><%= booking.created_at.strftime("%y-%m-%d %H:%M:%S") %></td>
    <td><%= booking.day %></td>
    <td align="right"><%= booking.from %></td>
    <td align="right"><%= booking.to %></td>
    <td align="right"><%= booking.room_id %></td>
  </tr>
<% end %>
</table>
</div>
