<% @title = "予約" %>

<div class="box">
<p>予約したい日時を入力してください。</p>
<% option1 = (6..22).to_a -%>
<% option2 = (7..23).to_a -%>
<% time = @date || Time.now -%>
<%= form_tag :new_booking, method: :get do %>
  <p><%= select_date time, { prefix: "date", use_month_numbers: true } %></p>
  <p><%= select "start", :start, option1 %>
     <%= select "finish", :finish, option2 %>
     <%= hidden_field_tag :rooms %>
  <%= submit_tag "検索" %></p>
<% end %>
</div>
