<% @title = 'ログイン' %>
<div class="lbody">
<div class="box">
<%= form_tag :session do %>
<table class="form">
<tr>
<td align="right">メールアドレス：</td>
<td><%= text_field_tag "email", "", style: "width: 120px" %></td>
</tr>
<tr>
<td align="right">パスワード：</td>
<td><%= password_field_tag "password", "", style: "width: 120px" %></td>
</tr>
<tr>
<td colspan="2" align="center">
<%= submit_tag "ログイン" %>
</td>
</tr>
</table>
<%= hidden_field_tag "from", request.path %>
<% end %>
<%= link_to "新規登録", :new_member %>
</div>
</div>
