<div class="lbody">
<% @title = "機材予約" %>
<div class="box">
<% if @materials.present? %>
<h3>機材を選択してください。</h3>
<%= form_tag :booked_Materials, method: :post do %>
  <% @materials.each do |material| %>
  <h3><%= material[0].get_kind_name(material[0].kind_id) %></h3>
  <table class="list">
    <tr>
      <th>選択</th>
      <th>名称</th>
    </tr>
    <% material.each do |item| %>
    <tr>
    <%= hidden_field_tag 'materials[][id]', item.id %>
    <%= hidden_field_tag 'materials[][flag]', 0 %>
      <td><%= check_box_tag 'materials[][flag]' %></td>
      <td><%= item.name %></td>
    </tr>
    <% end %>
  </table>
  <% end %>
  <p><%= submit_tag "送信" %></p>
<% end %>
<% else %>
<p>機材情報がありません。</p>
<% end %>
</div>
</div>
