<div class="box">
  <h3><%= @material.name %></h3>
  <p>このへんに画像入れたら点数高いっしょ↓</p>
  <table class="list">
   <tr>
      <th>ID</th>
      <td><%= @material.id %></td>
    </tr>
    <tr>
      <th>機材種別</th>
      <td><%= MaterialKind.find(@material.kind_id).name %></td>
    </tr>
    <tr>
      <th>名称</th>
      <td><%= @material.name %></td>
    </tr>
  </table>
  <% if @current_member.administrator? %>
  <%= link_to [:edit_admin, @material] do %>
    <span class="link">編集</span>
  <% end %>
  <% end %>
  <%= link_to :back do %>
    <span class="link">戻る</span>
  <% end %>
</div>
