<%= render "shared/error", obj: @member %>
<div class="box">

<p><%= link_to "マイアカウントに戻る", :account %></p>

<%= form_for @member, url: :account do |form| %>
  <%= render "members/form", form: form %>
  <p><%= form.submit %></p>
<% end %>
</div>
